/* Main Content Area */

.blog {
  padding: 54px 0;
}
.blog .blog__inner {
  display: flex;
  justify-content: space-between;
  /* gap: 71px; */
  flex-wrap: wrap;
}

.blog .blog__inner .blog__content {
  width: 65%;
}
.blog .blog__inner .blog__content .blog__content__img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.blog .blog__inner .blog__content .blog__content__meta {
  display: flex;
  gap: 35px;
}
.blog .blog__inner .blog__content .blog__content__meta {
  display: flex;
  flex-wrap: nowrap;
  gap: 11px;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9f9f9f;
  margin-bottom: 15px;
}

.blog__content__meta__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.blog__content__meta__item svg {
  font-size: 16px;
  /* padding-right: 10px; */
}
.blog__content__title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
.blog__content__text {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justified;
  color: #9f9f9f;
  margin-bottom: 30px;
}
.readmore {
  margin-bottom: 54px;
}
/* Side Bar Style */
.search__form {
  position: relative;
}
.search__form svg {
  position: absolute;
  right: 5px;
  top: 20px;
  cursor: pointer;
}
.blog__side__bar__search input {
  width: 100%;
  height: 58px;
  top: 522px;
  left: 988px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
}

.blog__side__bar__search {
  margin-bottom: 43px;
}

.blog .blog__inner .blog__side__bar {
  width: 30%;
  padding: 0 41px 20px 41px;
}
.blog__side__bar__categories__heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 43px;
}
.blog__side__bar__categories__item div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}
.blog__side__bar__categories__item__name,
.categories_count {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
}

.recent_post_heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 30px;
}
.recent__post__items {
  display: flex;
  gap: 12px;
  margin-bottom: 39px;
}

.recent__post__items small {
  color: #9f9f9f;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.recent__post__img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.recent__post__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

/* Free Delivery Section */

.delivery {
  background-color: #faf4f4;
  padding: 96px 0;
}
.delivery .delivery__inner {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}

.delivery__inner__title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.delivery__inner__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
}

/* pagination style */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin: 117px 0 90px 0; */
}

.pagination button {
  background-color: #fff9e5;
  border-style: none;
  padding: 18px 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  border-radius: 10px;
}
.pagination .active {
  background-color: #fbebb5;
}
/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .blog__content__title {
    font-size: 24px;
  }

  .blog__content__text {
    font-size: 14px;
  }

  .blog__side__bar__categories__heading,
  .blog__side__bar__categories__item__name,
  .categories_count,
  .recent_post_heading,
  .recent__post__items small,
  .recent__post__title,
  .delivery__inner__title,
  .delivery__inner__desc,
  .pagination button {
    font-size: 14px;
  }
  .blog .blog__inner {
    flex-direction: row;
    gap: 0px;
  }
  .blog .blog__inner .blog__content,
  .blog .blog__inner .blog__side__bar {
    width: 100%;
    padding: 0px;
  }
  .blog__content__meta_item {
    display: flex;
    justify-content: space-between;
  }

  .delivery .delivery__inner {
    flex-direction: column;
    gap: 20px;
  }
  .delivery .delivery__inner div {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .blog__content__title {
    font-size: 20px;
  }

  .blog__content__text {
    font-size: 12px;
    text-align: justify;
  }
  .blog__content__meta__item svg,
  .blog__content__meta__item div {
    font-size: 12px;
  }
  .blog__side__bar__categories__heading,
  .blog__side__bar__categories__item__name,
  .categories_count,
  .recent_post_heading,
  .recent__post__items small,
  .recent__post__title,
  .delivery__inner__title,
  .delivery__inner__desc,
  .pagination button {
    font-size: 12px;
  }
}
