.filter {
  overflow: hidden;
  padding: 36px 0;
  background-color: #faf4f4;
  white-space: nowrap;
  width: 100vw;
}
.filter-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.filter-col {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.filter-col label {
  padding: 12px 18px;
  background-color: #fff;
  color: #9f9f9f;
}
.shop-list {
  overflow: hidden;
  text-align: center;
  margin: 60px 0;
  white-space: nowrap;
}

.shop-list .shop-list-inner {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  row-gap: 40px;
}
.shop-list .shop-list-inner .shop-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 300px; */
  align-items: center;
}
.shop-list .shop-list-inner .shop-item .inner-wrapper {
  width: 100%;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop-list .shop-list-inner img {
  width: 60%;
}

.shop-list .shop-list-inner .shop-list-title {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  width: 100%;
  text-wrap: wrap;
}

.shop-list .shop-list-inner .shop-list-price {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
}

/* pagination style */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 117px 0 90px 0;
}

.pagination button {
  background-color: #fbebb5;
  border-style: none;
  padding: 18px 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  border-radius: 10px;
}

/* Free Delivery Section */

.delivery {
  background-color: #faf4f4;
  padding: 96px 0;
}
.delivery .delivery__inner {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}

.delivery__inner__title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.delivery__inner__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
}

/* media queries */

@media (max-width: 768px) {
  .shop-list .shop-list-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .shop-list .shop-list-inner {
    flex-direction: column;
    gap: 20px;
  }

  .shop-list .shop-list-inner img {
    margin-bottom: 20px;
    width: 60%;
  }
  .filter-inner {
    flex-direction: column;
  }
}
