.cart-sidebar{
  
    gap:10px;
    width:300px;
    height:600px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 2000;
    
}

.shopping-cart{
    display:flex;
    align-items: center;
}

.shopping-cart h4{
font-size: 24px;
font-weight: 600;
line-height: 36px;
text-align: left;
}


.shopping-line{
width:200px;
border:1px solid #D9D9D9;
}

.shopping-items{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

.shopping-items-img{
    width:100%;
    height:100%;
}

.shopping-items img{
    width:100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    background-color: #FBEBB5;
    border-radius: 8px;
    overflow: hidden;
}

.shopping-items h5{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.shopping-items .remove{
    border:none;
    background: transparent;
    color:#9F9F9F;
    cursor: pointer;
    
}

.shopping-items .qty{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color:black;
}

.shopping-items .multiply{
font-size: 12px;
font-weight: 300;
line-height: 18px;
color:#000;
}

.shopping-items .price{
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #B88E2F;
}









