@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.MuiTypography-root {
  font-family: 'Poppins', sans-serif !important;
}

.MuiButton-root {
  font-family: 'Poppins', sans-serif !important;
  color: #000;
}

body {
  font-family: 'Poppins', sans-serif !important;
}
