.payment-section {
  background-color: #faf4f4;
  margin-top: 20px;
}
 .payment-content {
  padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
  margin: 0 auto;
 
}

.grid-item{
  padding: 40px 15px;
  text-align: left;

}


.payment-section .heading-text {
  font-size: clamp(1.5rem, 1.234rem + 0.8511vw, 2rem);
  font-weight: 500;
  line-height: clamp(2rem, 1.4681rem + 1.7021vw, 3rem);
}
.payment-section .paragraph-text {
  font-size: clamp(1rem, 0.867rem + 0.4255vw, 1.25rem);
  font-weight: 400;
  line-height: clamp(1.5rem, 1.3005rem + 0.6383vw, 1.875rem);
  color: #9f9f9f;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .grid-item{
    text-align: center;
  }
}